
html , body {
    height: 100%;
    width: 100%;
   
    font-family: 'Roboto Slab', serif;
  
    background-color: #e7f2f3;

}


.button{
    width: 65px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
     color: #040000;
     background-color:chartreuse;
     font-size:17px;
}
.row{
    margin: 7px 0;
}
.row input{
    width: 290px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}